<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Un visitante del portafolio dejo este mensaje para ti:</h1>
    <p><b>Nombre: </b> <%= @data['name']%></p>
    <p><b>Mensaje: </b> <%= @data['message']%></p>
    <p><b>Correo del usuario: </b> <%= @data['email']%></p>
  </body>
</html>
